<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488297750810-q90af008h7uk0g94k22vd31vcn3fsqu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488297750810-q90af008h7uk0g94k22vd31vcn3fsqu3</string>
	<key>API_KEY</key>
	<string>AIzaSyBLINr8dKEKg0Mc3cRtopH1i-C4NCgbBlY</string>
	<key>GCM_SENDER_ID</key>
	<string>488297750810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sfu.project</string>
	<key>PROJECT_ID</key>
	<string>fb-sfu</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-sfu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488297750810:ios:3ac9817a5a65778dcd8ca3</string>
</dict>
</plist>